<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paging</title>
    <link rel="stylesheet" href="list.css">
</head>

<body>
    <h1>
        <%=type%> Page Replacement Algorithm
    </h1>

    <div>
        <p class="page-Heading">Page Reference String :
            <%=reference_string %> <br>
        </p>
        <p>Number of Frames: <%=number_of_frames %>
        </p>
        <p>OUTPUT:</p>
        <div class="output">
        <table >
            <tr>
                <% for (var i=0; i <number_of_frames; i++){ %>
                    <% for (var j=0; j <length_of_string; j++) {%>
                        <% if(string_frames[i][j]==-1){ %>
                            <td> </td>
                            <% } %>

                                <% if(string_frames[i][j]!=-1){ %>
                                    <td><button class="output-buttons btn green">
                                            <%=string_frames[i][j] %>
                                        </button></td>
                                    <% } %>

                                        <% } %>
            </tr>

            <% } %>

                <tr>
                    <% for(var i=0;i<length_of_string;i++) {%>

                        <% if(hit_string[i]==" " ) { %>
                            <td> </td>
                            <% } %>
                                <% if(hit_string[i]!=" " ){ %>
                                    <td> <button class="output-buttons btn red">
                                            <%=hit_string[i] %>
                                        </button></td>
                                    <% } %>

                                        <% } %>
                </tr>
        </table>
    </div>
        <p>Number of page faults : <%=length_of_string-count %>
        </p>
        <p>Number of page hits : <%=count %>
        </p>
        <br>
        <div class="buttons">
        <form action="/list" method="post">
            <button class="btn red" type="submit">Back</button>
        </form>
    </div>
    </div>
</body>
</html>